@import "nullscss.css";

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}

body {
	font-family: "CircularStd", sans-serif;
	font-size: 18px;
	color: #313131;
	line-height: 1.25;
}

h1 {
	font-size: 65px;
	text-align: center;
	margin-bottom: 20px;
}
.prgf_1 {
	font-size: 20px;
	text-align: center;
	color: #5f5f5f;
	width: 750px;
	margin-bottom: 224px;
}
h2 {
	font-size: 34px;
	line-height: 1.3;
	font-weight: 700;
	opacity: 88%;
	color: #5f5f5f;
	margin-bottom: 20px;
}
.prgf_2 {
	line-height: 1.56;
	margin-bottom: 20px;
	width: 508px;
	margin-bottom: 125px;
}
h3 {
	font-weight: 700;
	line-height: 1.3;
	opacity: 88%;
	margin-bottom: 5px;
}
.prgf_3 {
	color: #b8b8b8;
	margin-bottom: 20px;
}
