@import "nullscss.css";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,700&display=swap");

.wrapper {
	overflow: hidden;
	min-height: 100%;
}
.container {
	max-width: 800px;
	margin: 0 auto;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	line-height: 25px;
	padding: 15px 15px;
	text-align: justify;
	color: rgb(14, 1, 70);
}

h1 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0;
	border-top: 3px solid rgb(129, 1, 1);
	border-left: 5px dotted rgb(255, 95, 2);
	border-right: 5px dashed rgb(255, 217, 2);
	border-bottom: 3px double rgb(53, 255, 2);
}

h2 {
	font-size: 26px;
	font-weight: 700;
}
p,
h1,
h2 {
	margin-bottom: 20px;
}

img {
	display: block;
	margin: 0 auto;
}

span {
	font-weight: bold;
}
.comment {
	display: block;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	text-decoration: underline;
}

.bdleft {
	border-left: 5px solid rgb(26, 0, 141);
	padding-left: 10px;
}
.prgf-1 {
	border: 10px solid #e90707;
	border-radius: 10px;
}
.prgf-2 {
	border: 8px double rgb(7, 233, 233);
	border-radius: 10%;
}
.picture-1 {
	outline: 5px dotted rgb(26, 0, 141);
	border-radius: 10px;
}
.prgf-3 {
	background-color: rgba(127, 255, 212, 0.5);
	min-height: 100px;
	border-radius: 50px;
	overflow: hidden;
	padding: 0 4%;
}
.prgf-4 {
	box-shadow: 10px 5px 15px 5px blue, inset 10px 5px 15px 5px green;
}
.prgf-5 {
	box-shadow: inset -10px 2px 5px 8px rgb(128, 115, 0);
	border-radius: 20px;
	padding: 0 10px;
}
.prgf-6 {
	opacity: 0.3;
}
.prgf-7 {
	box-shadow: 10px 5px 15px 5px rgb(108, 108, 235);
}
h2 {
	background-color: #e90707;
	border-color: #e96d07;
	padding: 20px;
	border-radius: 10%;
	border: 10px solid #e9ad07;
}
.picture-2 {
	border-radius: 10%;
}
.prgf-8 {
	visibility: hidden;
}
.prgf-9 {
	opacity: 0.2;
}
.prgf-10 {
	display: inline;
	box-shadow: 0 0 30px yellowgreen;
}
.prgf-11 {
	max-width: 520px;
	text-align: right;
	color: rgb(63, 1, 1);
	margin: 0 0 20px auto;
}
.prgf-12 {
	margin: 0;
	border-top: 8px double rgb(7, 233, 233);
}
li {
	padding-left: 50px;
}
.prgf-13 {
	border-bottom: 8px double rgb(7, 233, 233);
}
.prgf-14 {
	text-shadow: 1px 1px 10px rgb(122, 8, 126);
}
.prgf-15 {
	text-transform: capitalize;
	word-spacing: 20px;
	text-shadow: 2px 2px 10px rgb(255, 123, 0);
}
.prgf-16 {
	letter-spacing: 30px;
	text-shadow: 2px 2px 10px #ff0000;
}
.prgf-17 {
	text-transform: uppercase;
}
.prgf-18 {
	text-decoration: overline;
	outline: 5px dotted rgb(26, 0, 141);
}
.prgf-19 {
	border: 25px dashed #f702ff;
	border-radius: 20px;
}
footer {
	background-color: black;
	text-decoration: underline;
	color: wheat;
	padding: 20px;
	text-align: center;
}
a {
	color: wheat;
}
